.nome {font-size: 30px;font-weight: bold;text-decoration: underline; text-align: center;}
.pregunta {font-size: 25px;font-weight: bold;color: brown;}
.como {font-size: 40px; color: red;background-color: aqua;}