.nome {font-size: 30px;font-weight: bold;text-decoration: underline; text-align: center;}
.pregunta {font-size: 25px;font-weight: bold;color: brown;}
.como {font-size: 40px; color: red;background-color: aqua;}
.menu {
   list-style: none;
   padding: 0;
   margin-top: 10px;
   margin-bottom: 20px;
   background-color: rgba(92, 27, 27, 0.753);
margin-right: 866.52px;}
   .menu li a { text-decoration: none;
color: aliceblue;
padding: 30px;
display:inline-block;}
.menu li {display: inline-block;
text-align: center;}
.menu li a:hover{background-color: burlywood;}